/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id]
      ,[Title]
      ,[FirstName]
      ,[LastName]
      ,[Department]
      ,[Section]
      ,[Position]
      ,[Email]
      ,[Password]
      ,[Tel]
      ,[UserType]
      ,[UserStatus]
      ,[UserPosition]
      ,[LoginDate]
  FROM [Workload].[dbo].[Account]
  Where	email  like '%jedsada%'